snippet package "package _" b
package ${0:main}
endsnippet

snippet func "func (_) _ { _ }" b
func ${1:f}(${2}) ${3}{
	${4:${VISUAL}}
}
endsnippet

snippet if "if _ { _ }" b
if ${1} {
	${2:${VISUAL}}
}
endsnippet

snippet for "for _ { _ }" b
for ${1} {
	${2:${VISUAL}}
}
endsnippet
