snippet * "emphasis (italic)" w
*${1:${VISUAL}}*
endsnippet

snippet ** "emphasis (bold)" w
**${1:${VISUAL}}**
endsnippet

snippet ` "code" w
\`${1:${VISUAL}}\`
endsnippet

snippet [ "link" w
[${1:${VISUAL}}](${2:${VISUAL}})
endsnippet

snippet ![ "image" w
![${1:alt}](${2:${VISUAL}})
endsnippet

snippet ``` "code block" b
\`\`\`${1}
${2:${VISUAL}}
\`\`\`
endsnippet

snippet details "details" b
<details>
<summary>${1}</summary>

${2:${VISUAL}}
</details>
endsnippet
