snippet date "current calendar date" w
`date +%Y-%m-%d`
endsnippet

snippet time "current time of day" w
`date +%H:%M`
endsnippet

snippet isodatetime "current date and time in ISO 8601 format" w
`date +%Y-%m-%dT%H:%M:%S%z`
endsnippet
