"*":
  core:
    audioBeep: false
    disabledPackages: [
      "exception-reporting"
      "metrics"
    ]
    hideGitIgnoredFiles: true
    ignoredNames: [
      ".DS_Store"
      ".bundle"
      ".git"
      ".hg"
      ".svn"
      "log"
      "tmp"
      "vendor"
    ]
  editor:
    fontFamily: "Menlo"
    fontSize: 12
    invisibles: {}
  welcome:
    showOnStartup: false
  "tree-view":
    hideIgnoredNames: true
